<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="css/compiled.css">
</head>
<body class="h-screen">
    <header class="bg-white p-3 px-10 shadow sm:block">
        <nav class="w-full flex-row sm:flex sm:justify-between">
            <img class="w-40" src="images/h-logo.svg" alt="knitly logo">
            <ul class="w-full pt-5 sm:py-0 justify-between sm:w-2/5 lg:w-1/4 flex sm:items-center sm:justify-between">
                <li class="cursor-pointer hover:text-indigo-400"><a href="/login">Log In</a></li>
                <li class="cursor-pointer hover:text-indigo-400"><a href="/signup">Sign Up</a></li>
                <li class="cursor-pointer hover:text-indigo-400"><a href="/">About</a></li>
            </ul>
        </nav>
    </header>
    <main class="flex mt-20 items-center justify-center">
        <section class="flex flex-col sm:w-4/5 lg:w-1/2 border-2 p-5 rounded-xl bg-white bg-opacity-75">
            <h1 class="text-4xl font-black">Welcome to Knitly!</h1>
            <p>The place where knitters and knitting enthusiasts can connect.</p>
            <p>Are you a knitter or an avid fan of knitting? Do you just love crafting in general? Then Knitly is the place for you! Create an account to connect with other crafting and knitting fans just like you. You can share your own work, get inspired by the work of your peers, or just look at other peoples cool projects. Knitters and enthusiasts of any skill level are welcome. While knitting is in our name, crafting projects of any kind are welcome!</p>
            <a href="/signup" method="GET" class="flex-none mt-8 btn">Sign in / Create account</a>
        </section>
    </main>

</body>
</html>