<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="css/compiled.css">
</head>
<body class="h-screen">
    <header class="bg-white p-3 px-10 shadow hidden sm:block">
        <nav class="w-full flex justify-between">
            <img class="w-40" src="images/h-logo.svg" alt="knitly logo">
            <ul class="w-2/5 lg:w-1/4 flex items-center justify-between">
                <li class="cursor-pointer hover:text-indigo-400"><a href="/login">Log In</a></li>
                <li class="cursor-pointer hover:text-indigo-400"><a href="/signup">Sign Up</a></li>
                <li class="cursor-pointer hover:text-indigo-400"><a href="/">About</a></li>
            </ul>
        </nav>
    </header>
    <main class="flex mt-20 items-center justify-center">
        <section class="flex flex-col sm:w-4/5 lg:w-1/2 border-2 p-5 rounded-xl bg-white bg-opacity-75">
            <h1 class="text-4xl font-black">Hello, World!</h1>
            <p>This will be some content describing the app</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate enim eius, deleniti adipisci totam iure quisquam, provident debitis iusto dolores at iste, aspernatur labore dolor perspiciatis laudantium distinctio? Facilis, recusandae!</p>
            <a href="/signup" method="GET" class="flex-none mt-8 px-3 py-4 text-white bg-indigo-500 hover:bg-indigo-700 rounded-md focus:bg-indigo-600 focus:outline-none">Sign in / Create account</a>
        </section>
    </main>

</body>
</html>