@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-3 py-4 text-white bg-indigo-500 hover:bg-indigo-700 rounded-md focus:bg-indigo-600 focus:outline-none;
  }
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  body {
    background: url(https://images.unsplash.com/photo-1588532894089-2d30637e3ca8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1100&q=80) center center no-repeat fixed;
    background-size: cover;
  }
  p {
      margin-top: 15px;
      margin-bottom: 15px;
  }
}